<div class="row">
    <aside class="span4">
      <section>
        <%= render @user %>
      </section>
    </aside>
    <div class="span8">
      <li>
  <span class="content"><h3><%= @entry.title %></h3></span>
  <span class="content"><%= @entry.body %></span>
  <span class="timestamp">
    Posted at <%= @entry.created_at %> .
  </span>
  <% if current_user?(@entry.user) %>
    <%= link_to "delete", @entry, method: :delete,
                                     data: { confirm: "You sure?" },
                                     title: @entry.title %>
  <% end %>
  <% if signed_in? && (current_user?(@entry.user)||@entry.user.followed_users.include?(current_user)) %> 
      <section>
        <%= render 'shared/comment_form' %>
      </section>
<% else %>
<% end %>
  <% if @entry.comments.any? %>
      <ol class="microposts">
        <%= render @comments %>
      </ol>
      <%= will_paginate @comments %>
    <% end %>
</li>
    </div>
  </div>
