<div class="row">
    <aside class="span4">
      <section>
        <%= render @user %>
      </section>
    </aside>
    <div class="span8">
      <li>
  <span class="content"><h3><%= @entry.title %></h3></span>
  <span class="content"><%= @entry.body %></span>
  <span class="timestamp">
    Posted at <%= @entry.created_at %> .
  </span>
  <% if current_user?(@entry.user) %>
    <%= link_to "delete", @entry, method: :delete,
                                     data: { confirm: "You sure?" },
                                     title: @entry.title %>
  <% end %>
</li>
    </div>
  </div>
